@charset "UTF-8";

/* 基本 */
body {
  font-family: sans-serif;
  color: #222;
  background-color: #e6ecf0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 84%;
  max-width: 1147px;
  margin: 0 auto;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.site img {
  width: auto;
  max-width: 100%;
}

svg {
  vertical-align: bottom;
}

.nav,
.catch h1,
.food h2,
.detail p:first-of-type,
.info .subtitle {
  font-family: "Avenir Next", "Segoe UI", Helvetica, sans-serif;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ヘッダー */
.header__inner {
  background-color: #0095d9;
  padding-top: 10px;
}

.header__title {
  font-size: 14px;
  color: #fff;
  font-weight: normal;
  text-align: center;
}

.header-logo {
  text-align: center;
}

.header-logo svg {
  width: 300px;
  max-width: 100%;
}

.header-nav {
  background-color: #fff;
}

.header-nav-list {
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.header-nav-list__item {
  list-style: none;
}

.header-nav-list__item-link {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  display: block;
}

.header-nav-list__item-link:hover {
  text-decoration: underline;
}

/* フッター */
.footer {
  background-color: #fff;
  padding: 50px 20px 10px;
}

.ftr-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ftr-list__item {
  list-style: none;
}

.ftr-list__item-link {
  border: 1px solid #0095d9;
  color: #0095d9;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px 20px;
}

.ftr-list__item-link:hover {
  color: #fff;
  background-color: #0095d9;
}

.footer-logo {
  width: 200px;
}

/* トップページ */
.post-area {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-area__inner {
  width: 1080px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 2%;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.post-box-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.post-box-wrap::after {
  content: "";
  width: 31%;
  height: 0;
}

.post-box {
  width: 31%;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 2%;
  margin-top: 20px;
}

.post-box a {
  display: block;
}

.post-box a:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .post-box {
    width: 49%;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .post-box {
    width: 100%;
  }
}

/* SNSメニュー */
.sns {
  display: flex;
  list-style: none;
  font-size: 40px;
}

.sns li:not(:last-child) {
  margin-right: 30px;
}

/* コンテンツ */
.content {
  padding-top: 50px;
  padding-bottom: 40px;
}

.content .container {
  max-width: 785px;
}

.post-content__inner {
  padding-top: 20px;
  padding-left: 2%;
  padding-right: 2%;
}

.content h1 {
  margin-bottom: 25px;
  font-size: 24px;
}

.post-main-image {
  width: 600px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.postbody h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 20px;
}
.postbody h2 [class*="fa-"] {
  margin-right: 15px;
  color: #477294;
}

.postbody p {
  line-height: 1.8;
}
.postbody ul {
  padding-left: 30px;
}
.postbody li:not(:last-child) {
  margin-bottom: 1em;
}

.postbody pre {
  font-size: 16px;
}

.postbody a {
  color: blue;
}

@media (min-width: 768px) {
  .content {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  .content h1 {
    font-size: 38px;
  }

  .postbody h2 {
    font-size: 28px;
  }
}

/* コンテンツの情報 */
.info {
  margin-bottom: 43px;
  color: #477294;
  font-size: 14px;
}
.info [class*="fa-"] {
  margin-right: 10px;
}

/*
#################################
ブログ
#################################
*/

/* ブログ記事の情報 */
.post-title {
  margin-bottom: 20px;
}

.info time {
  margin-bottom: 5px;
}

.info .cat ul {
  list-style: none;
  display: inline-flex;
}
.info .cat li:not(:last-child)::after {
  content: "・";
  margin: 0 5px;
}

@media (min-width: 768px) {
  .info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
}

/* 前後の記事へのリンク */
.postlink {
  margin-top: 4em;
  list-style: none;
  color: #477294;
  font-size: 14px;
  display: flex;
}

.postlink li {
  width: 48%;
  display: flex;
  align-items: center;
}

.postlink a {
  display: flex;
  align-items: center;
}

.postlink .next {
  margin-left: auto;
  justify-content: flex-end;
}

.postlink .prev [class*="fa-"] {
  margin-right: 10px;
}
.postlink .next [class*="fa-"] {
  margin-left: 10px;
}

/* ブログ記事一覧ページ */
.bloglist .container {
  max-width: 1000px;
}

.bloglist .posts {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* ブログ記事一覧 */
.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.posts article {
  width: 48%;
  margin-bottom: 20px;
}

.posts figure {
  max-height: 150px;
  height: 150px;
}

.posts img {
  height: 150px;
  object-fit: cover;
}
.posts h3 {
  margin-top: 10px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .posts h3 {
    font-size: 16px;
  }

  .posts figure {
    height: 200px;
  }

  .posts img {
    height: 200px;
  }
}

/* ページネーション */
.pagenation {
  margin-top: 1.8em;
  list-style: none;
  display: flex;
}

.pagenation .next {
  margin-left: auto;
}

.pagenation a {
  width: 7em;
  padding: 0.5em 1em;
  border-radius: 1em;
  background-color: #477294;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.pagenation .next a {
  justify-content: flex-end;
}

.pagenation .prev [class*="fa-"] {
  margin-right: 10px;
}
.pagenation .next [class*="fa-"] {
  margin-left: 10px;
}
